# Namedtupleについて

参考:
- https://qiita.com/Seny/items/add4d03876f505442136#namedtuple%E3%81%8C%E8%A7%A3%E6%B1%BA
- https://docs.python.org/ja/3.6/library/typing.html#typing.NamedTuple

## Collectionsのnamedtuple

In [2]:
from collections import namedtuple

In [9]:
Person = namedtuple('Person', 'name age job')

# 下記記法と等価
# Person = namedtuple('Person', ['name', 'age', 'job'])

In [10]:
Person

__main__.Person

In [11]:
# Instance作成
person_1 = Person('John', 22, 'software engineer')
person_2 = Person('Mike', 34, 'sales')

In [12]:
person_1

Person(name='John', age=22, job='software engineer')

In [13]:
person_2

Person(name='Mike', age=34, job='sales')

In [16]:
# アクセス方法

person_1.age # 22

print(*person_1) # 可変長引数も使える

John 22 software engineer

In [18]:
# イミュータブルのため代入不可
person_2.job = 'marketing'

AttributeError: can't set attribute

In [32]:
# namedtupleを継承してメソッドなどを追加
class NewPerson(Person):
    def is_under_30(self):
        if self.age < 30:
            return 'this person is under 30'

In [34]:
person_3 = NewPerson('Dan', 29, 'hr')

In [35]:
person_3

NewPerson(name='Dan', age=29, job='hr')

In [36]:
person_3.is_under_30()

'this person is under 30'

In [38]:
# 既存namedtupleにイミュータブルなプロパティを追加したいとき

In [40]:
# 格納されているプロパティ
Person._fields

('name', 'age', 'job')

In [42]:
UpdatedPerson = namedtuple('UpdatedPerson', Person._fields + ('school',))

In [48]:
# schoolプロパティを追加
UpdatedPerson._fields

('name', 'age', 'job', 'school')

In [50]:
# ヘルパーメソッドより、_replaceでプロパティ値を置換
person_1._replace(age=40)

Person(name='John', age=40, job='software engineer')

## typingのNamedTuple

In [51]:
from typing import NamedTuple

### collectionsのnamedtupleとの大きな違い
- 型指定(ヒント)できる
- デフォルト値を設定できやすい
* 注意:　デフォルト値のあるフィールドはデフォルト値のないフィールドの後でなければならない

In [52]:
class TypingPerson(NamedTuple):
    name: str
    age: int
    job: str
    company: str = 'my company'

In [53]:
typing_person_1 = TypingPerson('Ken', 30, 'iOS engineer')

In [54]:
typing_person_1

TypingPerson(name='Ken', age=30, job='iOS engineer', company='my company')

In [55]:
typing_person_1.company

'my company'

In [57]:
typing_person_2 = TypingPerson('Karen', 51, 'CTO', 'advisor')

In [58]:
typing_person_2

TypingPerson(name='Karen', age=51, job='CTO', company='advisor')